/* 컬러 변수 */
:root {
  --point-color1: #6a5aff;
  --txt-color-400: #999;
  --txt-color-500: #333;
  --txt-color-600: #000;
}

.inner {
  width: 1280px;
}
.inner h1 {
  font-size: 30px;
  color: #000;
}
