/* 컬러 변수 */
:root {
  --point-color1: #6a5aff;
  --txt-color-400: #999;
  --txt-color-500: #333;
  --txt-color-600: #000;
}

.inner {
  width: 1280px;
  margin: 0 auto;
}
.inner h1 {
  font-size: 40px;
  color: var(--txt-color-600);
  margin: 20px 0 20px;
}

.inner .cart_wrap {
	display: flex;
}
.inner .cart_wrap li {
	border: 1px solid red;
}
.inner .cart_list {
	display: flex;
}
.inner .cart_list li {
	border: 1px solid red;
}

















