/* 컬러 변수 */
:root {
  --point-color1: #6a5aff;
  --txt-color-400: #999;
  --txt-color-500: #333;
  --txt-color-600: #000;
}

.inner {
  width: 1280px;
  margin: 0 auto;
}
.inner h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--txt-color-600);
  margin: 30px 0 30px;
}

.inner .cart_wrap {
	display: flex;
	line-height: 3;
}

.inner .cart_wrap li {
	    border: 1px solid var(--txt-color-400);
	text-align: center;
	font-size: 18px;
    font-weight: 500;
}
.inner .cart_empty {
	border: 1px solid var(--txt-color-400);
	list-style-type: none;
}

.inner .cart_list {
	display: flex;
	text-align: center;
}
.inner .cart_list li {
	display: flex;
	    border: 1px solid var(--txt-color-400);
    align-items: center;
    justify-content: center;
    font-size: 17px;
    padding: 10px 0;
}

















