/* 컬러 변수 */
:root {
  --point-color1: #6A5AFF;
  --txt-color-400: #999;
  --txt-color-500: #333;
  --txt-color-600: #000;
}

#wrap {
	width: 1280px;
}
.tit_wrap {
	margin: 50px 0 20px 0;
	position: relative;
}
.tit_wrap h1 {
	font-size: 32px;
}

.sort_wrap {
    position: absolute;
    display: inline-block;
    width: 116px;
    height: 36px;
    right: 0px;
    top: 5px;
}
.sort_main {
	background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    height: 37px;
    position: relative;
}
.sort_main>img {
   rotate: 270deg;
   transition: all 0.3s
}
.sort_main.rotate>img{
   rotate: 90deg;
}
.sort_main img{
	display: block;
	position: absolute;
	right: 5px;
	top: 20%;
}

.sort_menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    min-width: 116px;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.sort_menu li a {
    display: block;
    padding: 6px 15px;
}

.sort_menu li a:hover {
    background-color: #ddd;
}

.sort_menu .selected {
    font-weight: bold;
    color: #007bff;
}

.sort:hover .sort_menu {
    display: block;
}



.info {
	width: 200px;
}
.title {
	width: 400px;
}
.type {
	width: 200px;
}
.date {
	width: 250px;
}
.state {
	width: 230px;
}
.book_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 230px;
}
.book_info .book_image {
	width: 100px;
}
.board_list_wrap .title_text {
	text-align: left;
	padding-left: 50px;
}
.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.col em {
	color: #6A5AFF;
}
.board_list_wrap .cus_content {
	padding-left: 250px;
	text-align: left;
}
.reply {
	display: flex;
	align-items: center;
}
.admin_name {
	width: 200px;
}
.admin_content {
	padding-left: 50px;
}