#container {
}

#container .list_main {
  width: 1280px;
  margin: 0 auto;
}

.category {
  border: 1px solide red;
  width: 300px;
  height: 600px;
  background-color: #eee;
}

.category .catrgory_wrap .category_title {
  font-size: 30px;
  font-weight: 700;
}

.category .category_wrap .userCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category .category_wrap .userCategory .category_List {
  line-height: 30px;
  border: 1px solid red;
}
.cateogry .category_wrap .userCategory li a {
  font-size: 20px;
}
.main_contents {
  /* position: relative; */
  /* top: 0px; */
  /* right: 0px; */
  width: 80%;
}
.middle_bar {
  /* position: absolute; */
  /* right: 0px; */
  /* top: 0px; */
}
.main_books {
  /* position: absolute; */
  /* right: 0px; */
  /* top: 0px; */
}
