.container {
	width: 1280px;
	margin: 10px auto;
}
.detail_top {
	height: 60px;
	border: 3px solid #eee;
	border-radius: 10px;
	display: flex;
	align-items:center;
	padding: 10px;
	margin-bottom: 10px;
}
.detail_top .category {
	border: 3px solid #eee;
	border-radius: 10px;
	width: 130px;	
	display:flex;
	justify-content:center;
	
}
.detail_top .category>p {
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	
}
.detail_main {
	padding: 10px 50px;
	border: 3px solid #eee;
	border-radius: 10px;
	position: relative;
}
.detail_main .book_info {
	border: 1px solid #ddd;
}
.detail_main .book_info .title_Author li{
	border: 3px solid #eee;
	border-radius: 10px;
}
.detail_main .book_info .title_Author .book_title{
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 25px;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 700;
	position:relative;
}
.detail_main .book_info .title_Author .book_title>p {
	position: relative;
	display:inline
}
.detail_main .book_info .title_Author .book_title::before{
	content: "";
	height: 10px;
	background: var(--point-color1);
	position: absolute;
	left:10px;
	bottom: 10px;
	opacity: 0.3;
	margin-right: 10px;
}
.detail_main .book_info .title_Author .book_author {
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 20px;
}
.detail_main .book_info .info_area {
	margin: 20px 50px;
}

.detail_main .book_info .image_wrap {
	width: 250px;
	height: 250px;
	margin-right: 20px;	
}
.detail_main .book_info .image_wrap img {
	width: 100%;
	box-shadow: 0px 0px 10px -2px #999;
}

.detail_main .book_info .info_wrap {
	display:flex;
	min-height:350px;
	max-height: 500px; 
	padding-bottom: 50px;
}
.detail_main .info_box {
	padding: 10px;
}
.detail_main .info_box .book_price {
	font-size: 25px;
	margin-bottom: 10px;
}
.detail_main .info_box .publisher_wrap {
	margin-bottom: 5px;
}
.detail_main .info_box .etc_wrap {
	display: flex;
	width: 300px;
	justify-content:space-between;
	margin-bottom: 10px;
}
.detail_main .info_box .viewCount_wrap {
	margin-bottom: 10px;
}
.detail_main .info_wrap .buy_wrap {
	margin-left: 200px;
	border: 1px solid red;
}
.detail_main .buy_wrap .quantity_wrap {
	
}
.detail_main .quantity_wrap .inde_btn {
	width: 40px;
	height: 20px;
}
.detail_main .quantity_wrap .inde_btn:hover {
	color: #fff;
	background: var(--point-color1);
}
.detail_main .quantity_wrap #quantity{
	border: none;
}

.detail_main .discription_wrap{
	position: absolute;
	bottom: 50px;
	left: 380px;	
}
.detail_main .discription{
	width: 800px;
	height: 145px;
	background: #eee;
	border-radius: 10px;
	padding: 10px;
}
.detail_main .discription>p{
	width: 100%;
	height: 100%;
	
}