#container .inner {
	display: block;
}

.detail_top {
	display: flex;
	align-items:center;
	height: 60px;
	padding: 10px;
	margin-bottom: 10px;
	border: 3px solid #eee;
	border-radius: 15px;
}
.detail_top .category {
	display:flex;
	justify-content:center;
	border: 3px solid #eee;
	width: 130px;	
	border-radius: 15px;	
}
.detail_top .category>p {
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}

/*detail_main*/
.detail_main {
	padding: 10px 50px;
	border: 3px solid #eee;
	border-radius: 15px;
	position: relative;
}

.book_info .title_Author li{
	border: 3px solid #eee;
	border-radius: 15px;
}
.book_info .title_Author .book_title{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 25px;
	font-weight: 700;
	position:relative;
}
.book_info .title_Author .book_title>p {
	position: relative;
	display:inline
}
.book_info .title_Author .book_title::before{
	content: "";
	position: absolute;
	left:10px;
	bottom: 10px;
	height: 10px;
	background: var(--point-color1);
	opacity: 0.3;
	margin-right: 10px;
}
.book_info .title_Author .book_author {
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 20px;
	font-weight: 700;
}

.book_info .info_area {
	margin: 20px 50px;
}
.book_info .info_area .info_wrap {
	display:grid;
	grid-template-columns: 200px 590px 110px;
	grid-template-rows: 160px 1fr;
	min-height:200px;
	max-height: 500px; 
	padding-bottom: 50px;
	gap: 10px;
}
.info_wrap .image_wrap {
	height: 250px;
	margin-right: 20px;	
	grid-row: 1 /span 2;
}
.info_wrap .image_wrap img {
	width: 100%;
	box-shadow: 0px 0px 10px -2px #999;
}

.info_wrap .info_box {
	padding: 10px;
}
.info_box .book_price {
	font-size: 25px;
	margin-bottom: 10px;
	display: flex;
}
.info_box .publisher_wrap {
	margin-bottom: 5px;
}
.info_box .etc_wrap {
	display: flex;
	width: 400px;
	justify-content:space-between;
	margin-bottom: 10px;
	padding-right: 80px;
}
.info_box .viewCount_wrap {
	margin-bottom: 10px;
}
.info_wrap .buy_wrap {
	margin-top: 10px;
}
.buy_wrap .quantity_wrap {
	display: flex;
	height: 53px;
	width: 100px;
	border: 2px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
.quantity_wrap #quantity{
	border: 1px solid #ddd;
	font-size: 20px;
	border-radius: 0px;
	height: 50px;
	width: 58px;
}
.quantity_wrap .inde_btn_wrap{
	display: flex;
	flex-direction: column;
}
.quantity_wrap .inde_btn_wrap .inde_btn {
	width: 40px;
	height: 25px;
	border-radius: 0px;
}
.quantity_wrap .inde_btn_wrap .inde_btn:hover {
	color: #fff;
	background: var(--point-color1);
}
.info_wrap .buy_wrap .buyBtn_wrap {
	display: flex;
	flex-direction: column;
}
.info_wrap .buyBtn_wrap>.btn {
	width: 103px;
}
.info_wrap .buyBtn_wrap>.btn:hover {
	color: #fff;
	background: var(--point-color1);
}
.info_wrap .buyBtn_wrap .buyNow{
	margin-bottom: 5px;
}

/*자주 위치 문제가 발생함.*/
.info_wrap .discription_wrap{
	grid-column: 2 / span 2;
}
.discription_wrap .discription{
	width: 100%;
	height: 145px;
	background: #eee;
	border-radius: 15px;
	padding: 10px;
}
.discription_wrap .discription>p{
	width: 100%;
	height: 100%;
}

.review {
	margin-top: 10px;
	border: 3px solid #eee;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
}

.review .review_top {
	display: flex;
	justify-content: space-between;	
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.review .review_top::after {
	content: '';
	width: 100%;
	height: 3px;
	background: #eee;
	position: absolute;
	left:0;
	bottom: 0;
}
.review_top .title_wrap {
	display: flex;
	font-size: 25px;
	position: relative;
}
.review_top .title_wrap::before {
	content: "";
	width: 100%;
	height: 30px;
	background: var(--point-color1);
	position: absolute;
	left:-5px;
	bottom: 5px;
	opacity: 0.2;
	margin-right: 10px;
}

.review_top .title_wrap>h2 {
	margin-right: 20px;
	font-weight: 700;
}

.review_top .review_link {
	display:block;
	font-size: 20px;
	position: relative;
	width: 150px;
	z-index: 1;
	color: #000;
}
.review_top .review_link::after{
	content:'';
	position: absolute;
	right: 0;
	top: 0;
	background: url(../../images/arrow_right_black.png) no-repeat center / 120%;
	width: 30px;
	height: 30px;
}

.review_top .review_link:hover::after{
	background: url(../../images/arrow_right_white.png) no-repeat center / 120%;
}
.review_top .review_link::before {
	content: "";
	width: 100%;
	height: 30px;
	background: var(--point-color1);
	position: absolute;
	left:-5px;
	bottom: 7px;
	opacity: 0.2;
	margin-right: 10px;
	z-index: 0;
}
.review_top .review_link:hover::before{
	opacity: 0.4;
}
.review .review_list {
	display: grid;
	width: 100%;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	
}
.review_list .empty{
	font-size: 22px;
}

.review_list .notEmpty {
	width: calc( (1255px - 10px) / 2 );
	border: 3px solid #eee;
	border-radius: 5px;
	height: 160px; 
	overflow: hidden;
	background: #efefef;
}

.review_list .review_wrap {
	padding: 10px;
}

.review_list .review_wrap .stars {
	display: flex;
}

.review_wrap .star_wrap {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.review_wrap .star_wrap>img {
	filter: opacity(0.5) drop-shadow(0 0 0 var(--point-color1));
}
.review_wrap .info_wrap {
	display:flex;
	gap: 20px;
	margin: 3px;
}
.review_wrap .content_wrap {
	overflow: hidden;
	min-height: 75px;  
	background: #ddd;
	border-radius: 5px;
	padding: 5px;	
}
.review_wrap .content_wrap>p {
	text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}