:root {
  --point-color1: #6A5AFF;
  --txt-color-400: #999;
  --txt-color-500: #333;
  --txt-color-600: #000;
}

.board_list_wrap {
  background-color: #E9EAEE;
  border-radius: 8px;
  border-top: none;
}
.board_list_wrap .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}
.board_list_wrap .top .title h2 {
  margin: 0;
  font-size: 24px;
  color: var(--txt-color-600);
}
.board_list_wrap .top .sort ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}
.board_list_wrap .top .sort ul li {
  margin-left: 10px;
}
.board_list_wrap .top .sort ul li a {
  text-decoration: none;
  color: var(--point-color1);
  font-weight: bold;
}
.board_list_wrap .content {
  background-color: #fff;
  padding: 28px;
  border-radius: 8px;
}

.title h2 {
  font-size: 24px;
  color: var(--txt-color-600);
  margin: 0;
}
.board_list_wrap .top .sort ul li a {
  text-decoration: none;
  color: var(--txt-color-400);
  font-weight: bold; }

.board_list_wrap .top .sort ul li.selected a {
  text-decoration: none;
  color: var(--point-color1);
  font-weight: bold;
}


.content h3 {
  font-size: 20px;
  color: var(--txt-color-500);
  margin-top: 20px;
  margin-bottom: 10px;
}

.customerList {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.customerList th, .customerList td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.customerList th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
}

.customerList td {
  transition: background-color 0.2s;
}

.customerList tr:hover td {
  background-color: #f6f6f6;
}

.customerList .col1 {
  width: 7%;
}

.customerList .col2 {
  width: 10%;
}

.customerList .col3 {
  width: 50%;
}

.customerList .col4 {
  width: 10%;
  text-align: center;
}

.customerList .col5 {
  width: 10%;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

